  body {
    font-family: 'PT Sans', sans-serif;
    color: white;
    height: 600px;
    margin-left: 0;
    margin-right: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input{
    font-family: 'PT Sans', sans-serif;
}

.title img {
    padding-left: 15px;
}

.form{
    width: 100%;
    background-color: #F3F3F3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 500px;
}

.form__progress{
    width: 100%;
    box-shadow: 0 2px 4px 0 #dddbdb;
    line-height: 100%;
    border: none;
    border-bottom:solid 3px #dddbdb;
}

.form__progress progress{
    width: 100%;
    border: none;
    height: 1.4rem;
    color: #cfefc2;
}

.form__progress progress::-ms-fill {
    border-color: currentColor;
  }

.form__progress progress[value]{
    background-color:#F3F3F3;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.form__progress progress[value]::-webkit-progress-bar{
    background-color:#F3F3F3;
}

.form__progress progress[value]::-webkit-progress-value{
    background-color:#cfefc2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form__progress progress[value]::-moz-progress-bar{
    background-color:#cfefc2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form--stage {
    padding-top:20px;
}

.form__body{
    height: 550px;    
    width: 61.8%;
    margin-left: auto;
    margin-right: auto;
}

.form__body h2{
    color:#333333
}

.form__body input {
    padding:15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-color:solid 1px #20619C;
    /* margin-bottom: 25px; */
}

.form__body .input{
    margin-bottom: 25px;
    height: 48px;
}

.form__body .error{
    color:red;
    float: left;
}

.form__body select {
    width: 30%;
    height: 48px;
    padding-left: 20px;
    float: right;
    border:none;
    /* margin-bottom:25px; */
}

.form__body fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.form__body button{
    background-color: #FFFFFF;
    border: 2px solid #20619c;
}

.form__body button:hover {
    background-color: #B3DADA;
    cursor: pointer;
}

.form__body .btn--next {
    padding:0;
    height: 50px;
    width:30%;
    float: right;
}

.form__body .btn--submit {
    padding:0;
    height: 50px;
    width:30%;
    float: right;
}

.form__body .btn--prev {
    padding:0;
    height: 50px;
    width:30%;
    float: left;
}

.form--stage{
    display: none;
}

.display{
    display: block;
}

.invalid{
    border:1px solid red !important
}

#street-name{
    width: 61.8%;
    float: left;
}