  body {
    font-family: 'PT Sans', sans-serif;
    color: white;
    height: 600px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input{
    font-family: 'PT Sans', sans-serif;
}

.form{
    width: 100%;
    background-color: #F3F3F3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 500px;
}

.form--stage {
    padding-top:20px;
}

.form__body{
    height: 550px;    
    width: 61.8%;
    margin-left: auto;
    margin-right: auto;
}

.form__body h2{
    color:#333333
}

.form__body input {
    padding:15px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    border-color:solid 1px #20619C;
}

.form__body fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.form__body .btn--next {
    padding:0;
    height: 50px;
    width:30%;
    float: right;
}

.form__body .btn--submit {
    padding:0;
    height: 50px;
    width:30%;
    float: right;
}

.form__body .btn--prev {
    padding:0;
    height: 50px;
    width:30%;
    float: left;
}

.form--stage{
    display: none;
}

.display{
    display: block;
}